@import '../../styles/shared';

.Root {
 @include container;

 height: 100vh;
 display: grid;
 place-content: center;
 text-align: center;

 a,
 button {
  @include round-me(35px);
  padding: 0.5rem;
  justify-self: center;
 }
 a {
  background: black;
  color: white;
 }
 .SwitchAccount {
  background: white;
  color: black;
 }
}
