@import '../../styles/shared';

.Root {
 @include container;

 height: 100vh;
 display: grid;
 place-content: center;
 text-align: center;

 a {
  @include shared-button;
  width: fit-content;
  margin: 0 auto;
 }
}
