@import "../../global-styles/media-query-mixin";

$primary-red-button-bgColor:red;
$primary-black-button-bgColor:black;

.button{
	border: none;
	padding: 20px 10px;
	color: black;
	border: 1px solid transparent;
	transition:  all 0.5s ease;
	cursor: pointer;
	background-color: white;
	border-color: black;

	&[data-variant =  red]{
		color: white;
		background:$primary-red-button-bgColor ;
	}

	&[data-variant =  black]{
		color: white;
		background:$primary-black-button-bgColor ;
	}

	&:hover, &.active{
		background-color: white;
		color: black;
	}
}

