@import '../../styles/shared';

.Root {
 @include center-grid();
 height: 100vh;
 gap: 1rem;

 & a,
 & button {
  @include shared-button(white, black, false);
 }

 .LoginOptions {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
 }
}
