@import "../../../global-styles/media-query-mixin";

$primary-button-color:rgba(255, 255, 255, 0.8);

.Root{

	display: flex;

	
	.buttons{
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	
		button{
			padding: 5px;
		}
	}
	
	p{
		font-size: 0.7rem;
	}
}



@include media(">medium") {
	.Root{
		align-items: center;
		
		.headers{
			flex: 1;
			display: flex;
			justify-content: space-around;
		}
	 }
	
}
@include media("<medium") {
	.Root{
		flex-direction: column;
	justify-content: center;
	align-items: center;

	.headers{
		display: flex;
    justify-content: space-around;

    width: 100%;
	}
	 }
	
}
