@import '../../../../global-styles/media-query-mixin';

$primary-red-button-bgColor: red;
$primary-black-button-bgColor: black;

.Root {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.75rem;
  flex-wrap: wrap;

  button {
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    font-size: unquote('min(2vw, 1rem)');
    transition: background 0.5s ease;
    background: $primary-black-button-bgColor;

    img {
      margin-right: 1rem;
    }
    &[data-variant='red'] {
      background: $primary-red-button-bgColor;
    }

    &[data-variant='black'] {
      background: $primary-black-button-bgColor;
    }

    @media (hover: hover) {
      &:hover {
        background: rgba(179, 179, 179, 0.768);
        color: black;
      }
    }
  }
}

@include media('<medium') {
  .Root {
    gap: 1rem;
    button {
      font-size: 0.7rem;
      padding: 0.5rem 1.5rem;
    }
    .headers {
      display: flex;
      justify-content: center;
      gap: 1rem;
      width: 100%;
    }
  }
}
