@import '../../../../styles/media-query-mixin';
@import '../../../../styles/shared';

.Root {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.75rem;
}
.button {
  @include shared-button;

  display: flex;
  align-items: center;
  justify-content: center;

  &[data-variant='red'] {
    background: $primary-red-button-bgColor;
  }

  &[data-variant='black'] {
    background: $primary-black-button-bgColor;
  }

  @media (hover: hover) {
    &:hover {
      background: rgba(179, 179, 179, 0.768);
      color: black;
    }
  }
}
@include media('<desktop') {
  .Root {
    margin-top: 1rem;
    gap: 1rem;
    .headers {
      display: flex;
      justify-content: center;
      gap: 1rem;
      width: 100%;
    }
  }
  .button {
    img {
      max-width: 15px;
    }
  }
}
