@import '../../../../../styles//media-query-mixin';

.Root {
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  width: calc(20vw - 10px);
  max-width: 200px;
  padding: 0 10px;
  position: relative;

  img {
    justify-self: center;
  }
}

@include media('<=835px') {
  .Root {
    height: 30px;
    font-size: 12px;
  }
}

@include media('<=medium') {
  .Root {
    width: 100px;
  }
}
