@import '../../../../../global-styles//media-query-mixin';

.Root {
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  width: 180px;
  padding: 0 10px;

  position: relative;

  img {
    justify-self: center;
  }
}

@include media('<=835px') {
  .Root {
    width: 150px;
  }
}
