@import '../../../../global-styles/media-query-mixin.scss';

.Root {
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.GameData {
  display: flex;
  align-items: center;
  flex: 1;

  .Data {
    &:nth-child(2) {
      margin: 0 1rem;
    }
  }
}

@include media('<medium') {
  .Root {
    margin: 0;
  }
}

@include media('<=500px') {
  .Root {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
