.Root {
  max-height: 70%;
  flex: 2;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 0.5rem;
}

.GamePlatform {
  flex: 1;

  position: relative;

  &[data-level='0'] {
    .cards {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &[data-level='1'],
  &[data-level='2'],
  &[data-level='3'] {
    .cards {
      display: flex;
      gap: 0.5rem;
      height: 100%;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}
