@import '../../../global-styles/media-query-mixin';
.Root {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
}

.GamePlatform {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 0.5rem;
  .Level {
    border: 1px solid black;
    min-height: calc(var(--cardHight) + 50px);
    &[data-level='0'] {
      position: relative;
    }
  }
}

@include media('<=tablet') {
  .GamePlatform {
    grid-template-columns: repeat(2, 1fr);

    gap: 1rem;
    .Level {
      border: 1px solid black;
      min-height: 150px;
    }
  }
}
